@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<head>
<style>
body {
 
 background-color: aliceblue;
}
</style>
</head>
<body>
<p>This is the privacy policy for this site!</p>
</body>